<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VideoPlayerWatcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <VideoPlayerWatcher.Properties.Settings>
            <setting name="Timeout" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VerticalFrom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VerticalTo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HorizontalFrom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HorizontalTo" serializeAs="String">
                <value>0</value>
            </setting>
        </VideoPlayerWatcher.Properties.Settings>
    </userSettings>
</configuration>